<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project Center</title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">

	<style>
	.number { width:20px; border-right: none;}
	.info { width:auto; border-left: none;}
	.subinfo { font-size: 11px; color: #333333}
	</style>

</head>
<body>

<ul class="breadcrumb">
  <li>
    <a href="/index.html">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/index.html">Projects</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="/projects/{project_id}/">{project_name}</a>
  </li>
  <div class="pull-right">{user}</div>
</ul>


<div class="container">
	<ul class="nav nav-tabs">
		<li><a href="/projects/{project_id}/">Summary</a></li>
		<li class="active"><a href="/projects/{project_id}/issues.html">Issues</a></li>
		<li><a href="/projects/{project_id}/newissue.html">New Issue</a></li>
		<li><a href="/projects/{project_id}/browse.html">Code</a></li>
	</ul>
  <div class="row">
  	<div class="span9">
      <form class="form-horizontal" id="login_form" method="post" action"/issues/update.html">
      <input type="hidden" name="iid" value="{iid}">
        <fieldset>
          <legend>Issue #{iid} <small style="font-size:70%" class='help-block'>by {creator_name} at {creation_date}</small></legend>
		  {message}
          <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls input-prepend">
	              <span class="add-on"><i class="icon-star"></i></span>
            <span class="input-xlarge uneditable-input">{title}</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="assigned_to">assigned to</label>
            <div class="controls input-prepend">
	              <span class="add-on"><i class="icon-user"></i></span>
            <span class="input-xlarge uneditable-input">{assigned_to}</span>
            </div>
          </div>
	      <div class="control-group">
          <div class="pull-right">
	          <div class="control-group">
	            <label class="control-label" for="comment">Resolution</label>
	            <div class="controls input-prepend">
	              <span class="add-on"><i class="icon-random"></i></span>
				<select class="span2" name="priority" disabled="disabled">
                <option {s_none}></option>
                <option {s_fixed}>fixed</option>
                <option {s_invalid}>invalid</option>
                <option {s_wontfix}>won't fix</option>
                <option {s_duplicate}>duplicate</option>
                <option {s_worksforme}>work's for me</option>
              </select>
	            </div>
	          </div>
          </div>
          <div class="pull-left">
	          <div class="control-group">
	            <label class="control-label" for="status">Status</label>
	            <div class="controls input-prepend">
	              <span class="add-on"><i class="icon-road"></i></span>
				<select class="span2" name="status" disabled="disabled">
                <option {s_unconfirmed}>unconfirmed</option>
                <option {s_confirmed}>confirmed</option>
                <option {s_inprogress}>in progress</option>
                <option {s_resolved}>resolved</option>
                <option {s_tested}>tested</option>
                <option {s_rejected}>rejected</option>
              </select>
	            </div>
	          </div>
	          <div class="span1"></div>
          </div></div>
	      <div class="control-group">
          <div class="pull-right">
	          <div class="control-group">
	            <label class="control-label" for="priority">Priority</label>
	            <div class="controls input-prepend">
	              <span class="add-on"><i class="icon-time"></i></span>
				<select class="span2" name="priority" disabled="disabled">
                <option {s_critical}>critical</option>
                <option {s_high}>high</option>
                <option {s_medium}>medium</option>
                <option {s_low}>low</option>
              </select>
	            </div>
	          </div>
          </div>
          <div class="pull-left">
	          <div class="control-group">
	            <label class="control-label" for="severity">Severity</label>
	            <div class="controls input-prepend">
	              <span class="add-on"><i class="icon-warning-sign"></i></span>
				<select class="span2" name="severity" disabled="disabled">
                <option {s_fatal}>fatal</option>
                <option {s_normal}>normal</option>
                <option {s_minor}>minor</option>
                <option {s_trivial}>trivial</option>
                <option {s_enhancement}>enhancement</option>
              </select>
	            </div>
	          </div>
	          <div class="span1"></div>
          </div></div>
          <div class="control-group">
            <label class="control-label" for="comment">Comments</label>
            <div class="controls input-prepend">
          {comments}
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="span3">
      <h3>View Issue</h3>
      <p>to submit comments, please <a href="/login.html?hint=3&go=/issues/{iss}/">login</a>.</p>
    </div>
  </div>
</div>	
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script>{script}</script>
 </body>
</html>
